<a asp-asp-controller="demo2" asp-action="index3" asp-route-id="123">Menu1</a>

<a asp-asp-controller="demo2" asp-action="index4" asp-route-id="1201" asp-route-username="phamphucloi123">Index4</a>

<a asp-asp-controller="demo2" asp-action="index5" asp-route-id="12012003" asp-route-username="phamphucloi12345">Index5</a>
Index2