
<div>
    <label for="name">Nhập tên</label>
    <input type="text" id="name" title="Name" placeholder="Điền tên..."/>
</div>

<div>
    <label for="age">Nhập Tuổi</label>
    <input type="text" id="age" title="Age" placeholder="Điền tuổi..." />
</div>

<button type="submit">Done</button>


